*.o
.DS_Store
.*.swp
/env
/dl
/.config
/.config.old
/bin
/build_dir
/staging_dir
/tmp
/logs
/feeds
/feeds.conf
/overlay
/files
/package/feeds
/package/openwrt-packages
key-build*
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
###############################
/*.tar.gz
/create-*.sh
/archive-*.sh
/deploy-*.sh
/build-*.sh
/touchstar/
/private/
/custom/
/vbox-*.sh
/emu
/edit
/edit-*
/work-*
/config_*
!/config_version
